.container{
border: 2px solid #000;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Cor de fundo opcional */
}

.container {
    background-color: #f5e1a4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Largura máxima do container */
    width: 90%; /* Largura relativa para telas menores */
    margin: 20px; /* Margem para telas menores */
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
}

.form-group {
    margin-bottom: 15px;
    width: 100%; /* Garante que os campos ocupem a largura total */
}

label {
    margin-bottom: 5px;
    display: block; /* Garante que os labels ocupem a largura total */
    text-align: left; /* Alinha o texto do label à esquerda */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Garante que os campos ocupem a largura total */
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Garante que o botão ocupe a largura total */
}

h2 {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: #493b1a;
}
header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    color:green;
    position: absolute;
    top: 0;
    left: 0;
    color:#493b1a ;
    

}
body{
    background-color: #2e7d32;
    background-image: url("Fundopet.png");
    background-position: center;
      
}